<div class="container">
  <div id="home" class="flex-center flex-column">
    <h1>{{ title }}</h1>
    <button
      mat-raised-button
      color="primary"
      [routerLink]="'game'"
      class="btn"
    >
      Play
    </button><br><br><br><br>
	<footer>
&copy; 2nd Semester Mini Project by Himanshu Chandola , Nikhil Joshi , Garima Bisht & Bhuwan Chandra Tiwari
  </footer>
    <!-- <button
      mat-raised-button
      color="accent"
      [routerLink]="'highscore'"
      class="btn"
      disabled
    >
      Highscore
    </button> -->
  </div>
</div>

