h1 {
  font-size: 5.2rem;
  font-weight: 600;
  color: #56a5eb;
  margin-bottom: 5rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

.container > * {
  width: 100%;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn {
  min-width: 200px;
  min-height: 50px;
  margin-bottom: 1rem;
  font-size: 18px;
}

.btn:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(23, 26, 27, 0.562);
  transform: translateY(-0.2rem);
  transition: transform (100ms);
}
